<?xml version="1.0" encoding="UTF-8"?>
<!-- Idra - Open Data Federation Platform Copyright (C) 2018 Engineering 
	Ingegneria Informatica S.p.A. This program is free software: you can redistribute 
	it and/or modify it under the terms of the GNU Affero General Public License 
	as published by the Free Software Foundation, either version 3 of the License, 
	or at your option) any later version. This program is distributed in the 
	hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
	GNU Affero General Public License for more details. You should have received 
	a copy of the GNU Affero General Public License along with this program. 
	If not, see <http://www.gnu.org/licenses/>. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Idra</display-name>
	<context-param>
		<param-name>quartz:config-file</param-name>
		<param-value>quartz.properties</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:shutdown-on-unload</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:wait-on-shutdown</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:start-on-load</param-name>
		<param-value>true</param-value>
	</context-param>
	<listener>
		<listener-class>it.eng.idra.management.InitServletListener</listener-class>
	</listener>
<!-- 	<listener> -->
<!-- 		<listener-class>it.eng.idra.odfscheduler.CustomQuartzInitializer</listener-class> -->
<!-- 	</listener> -->
<!-- 	<listener> -->
<!-- 		<listener-class>it.eng.idra.odfscheduler.ODFSchedulerListener</listener-class> -->
<!-- 	</listener> -->
	<display-name>Driver API</display-name>
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>it.eng.idra.driver.api</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/festival/*</url-pattern>
	</servlet-mapping>
</web-app>
