#
# Idra - Open Data Federation Platform
# Copyright (C) 2018 Engineering Ingegneria Informatica S.p.A.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

version: '3'
services :
    db:
            image: mysql:8.4
            restart: always
            ports:
                - 3306:3306
            volumes:
                - ./opt/idra/mysql-data:/var/lib/mysql
                - ../idra_db.sql:/docker-entrypoint-initdb.d/idra_db.sql
            networks:
                idra_main:
            environment:
                - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/my_secret_data
                - MYSQL_DATABASE=idra_db
            secrets:
                - my_secret_data 

            command: --lower_case_table_names=1
    rdf4j:
            image: yyz1989/rdf4j
            ports:
                - 8081:8080
            volumes:
                - ./opt/idra/rdf4j-data:/opt/rdf4j/data
            environment:
                - RDF4J_DATA=/opt/rdf4j/data
            networks:
                idra_main:
    deep:
            image: idraopendata/deep:2.2.6
            ports:
                - 80:80
            volumes:
                - ./deep/configuration.js:/var/www/app/deep/deep-components/configuration.js
            networks:
                idra_main:
    # NEW VERSION OF THE IDRA PORTAL - also integrated with Metadata Quality Validator Tool
    idraNewPortal:
            image: idraopendata/idra-portal:v1.6.5
            ports:
                - "4200:80"
            volumes:
                - ./config.json:/usr/share/nginx/html/assets/config.json
                - ./nginx.conf:/etc/nginx/conf.d/default.conf
    # Metadata Quality Validator Tool
    mqa-score:
            image: idraopendata/mqa-scoring:v1.3.5
            container_name: mqa-score
            #    build:
            #      context: .
            #      dockerfile: ./Dockerfile
            restart: always
            ports:
                - "127.0.0.1:8000:8000"
            environment:
                - PORT=8000
                - MONGO_INITDB_ROOT_USERNAME=root
                - MONGO_INITDB_DATABASE=admin
                - MONGO_INITDB_ROOT_PASSWORD=BeOpen2023!
                - MINIO_URL=play.min.io
                - MINIO_ACCESS_KEY=Q3AM3UQ867SPQQA43P2F
                - MINIO_SECRET_KEY=zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
                - MINIO_ACTIVE=false
            networks:
                idra_main:
    # Database used by the Metadata Quality Validator Tool
    mongodb:
            container_name: mongodb-mqa
            image: mongo:4.4
            command: mongod --port 27020
            environment:
                - MONGO_INITDB_ROOT_USERNAME=root
                - MONGO_INITDB_DATABASE=admin
                - MONGO_INITDB_ROOT_PASSWORD=BeOpen2023!
            ports:
                - "127.0.0.1:27020:27020"
            volumes:
                - ./data:/data/db  
            networks:
                idra_main:
    idra:
            image: idraopendata/idra:v3.0.14
            ports:
                - 8080:8080
            depends_on:
                - db
                # - rdf4j
            command: ["./wait-for-it.sh", "db:3306", "--timeout=0", "--", "catalina.sh", "run"]

            environment:
                - idra.db.host=jdbc:mysql://db:3306/idra_db?allowPublicKeyRetrieval=true&serverTimezone=UTC&useLegacyDatetimeCode=false&useEncoding=true&characterEncoding=UTF-8&useSSL=false
                - idra.db.host.min=jdbc:mysql://db:3306
                - idra.db.user_FILE=/run/secrets/my_secret_data
                - idra.db.password_FILE=/run/secrets/my_secret_data
                #- idra.db.user=root
                #- idra.db.password=root
                - idra.db.name=idra_db
                - idra.cache.loadfromdb=true
                - idra.synch.onstart=false
                - idra.odms.dump.file.path=/opt/idra/dump/
                - idra.dump.file.path=/opt/idra/dump/
                - idra.lod.enable=true
                - idra.lod.repo.name=Idra
                - idra.lod.server.uri=http://rdf4j:8080/rdf4j-server/repositories/
                - idra.lod.server.uri.query=http://rdf4j:8080/rdf4j-workbench/repositories/Idra/query
                - idra.orion.orionDumpFilePath=/opt/idra/dump/
                - idra.orion.orionInternalAPI=http://localhost:8080/Idra/api/v1/client/executeOrionQuery
                - idra.authentication.method=BASIC
                - idm.fiware.version=7
                - idm.protocol=https
                - idm.host=
                - idm.path.base=
                - idm.client.id=
                - idm.client.secret=
                - idm.redirecturi=http://IDRA_HOST/Idra/api/v1/administration/login
                - idm.logout.callback=http://IDRA_HOST/IdraPortal
                - idra.server.baseurl=<IDRA_PROTOCOL>://<IDRA_HOST>
                - idm.admin.role.name=Admin
                - DATALET_ENABLED=true
                - DATALET_URL=http://localhost:80/deep/deep-components/demo.html
                - JAVA_OPTS=-Xms1024m -Xmx3g -XX:PermSize=1024m -XX:MaxPermSize=2048m
            secrets:
                - my_secret_data           
            volumes:
                - ./opt/idra/dump:/opt/idra/dump
                - /dev/urandom:/dev/random
            networks:
                idra_main:

networks:
    idra_main:
          driver: bridge
          driver_opts:
               com.docker.network.driver.mtu: 1450
          
secrets:
  my_secret_data:
    file: ./secrets.txt