.tagline{
box-sizing: border-box;
color: rgb(72, 45, 65);
display: block;
float: right;
font-family: Oswald, Arial, Helvetica, sans-serif;
font-size: 26px;
font-style: normal;
font-variant: normal;
font-weight: 300;
height: 32px;
line-height: 32px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 90px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: right;
}

.flag{
background-color: rgb(255, 255, 255);
background-image: url(images/header-flag.jpg);
background-position: right 25px top 5px;
background-repeat: no-repeat;
border-bottom-color: rgb(229, 229, 229);
border-bottom-style: solid;
border-bottom-width: 1px;
box-sizing: border-box;
color: rgb(51, 51, 51);
display: block;
font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 138px;
line-height: 22px;
padding-bottom: 7px;
padding-left: 10px;
padding-right: 10px;
padding-top: 7px;
position: relative;
width: 1160px;
}