.us-spinner-wrapper {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
    z-index:100000;
    transition: background 0.1s ease;
    pointer-events: auto;
    background: rgba(255, 255, 255, 0.6);
}
