/* Theme variables */
:root {
  --mainColor: #00b4ff; 
  --logo: url("../images/idra_D_v6_black.svg");
}
.img-logo {
  content: var(--logo);
}
.favicon { 
	content: "images/icons/favicon-32x32.png";
}
#header .navbar-link-element{
	 font-weight: bold;  
}

/* Custom modifications to the Title */
#header .navbar-title {
	visibility: hidden;
}
#header .navbar-title:after {
	 visibility: visible;
	 content: ''; /* Insert here the title */
	 font-weight: bold;  
	 color: var(--mainColor); 
	 font-size: 20pt;
	 overflow:hidden;
}

@media screen and (max-width: 600px) { /* When the browser's width is 600px wide or less, hide the element */
  #header .navbar-title:after {
    display: none;
  }
}

/* Custom modifications to the Navbar */
#header div.navbar.navbar-default .navbar-header .navbar-brand {
	background-image: var(--logo);
	background-repeat: no-repeat;
	background-size: auto 60px; /* Size of the logo */
	display: block;
	height: 70px;
	width: 100px;
	text-transform: capitalize;
}

/* Custom modifications to the Navbar line */
#header div.navbar {
  	border-style:solid;
    border-width:3px;  
    border-bottom-color: var(--mainColor); /* Insert 'transparent' to remove the line */
    box-shadow: 10px 10px 8px #ffffff;  /* shading */
}

/* Custom modifications to the Login button */
/* #header .btn.btn-primary.btn-raised {
  background-color: #008031;
  color: rgba(255, 255, 255, 0.84);
  border: 0 none;
  border-radius: 2px;
  box-shadow: 5px 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-size: 11.5pt;
  font-weight: 300;
  height: 2em;
  line-height: 2em;
  padding: 0 1.25em;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
} */