<?xml version="1.0" encoding="UTF-8"?>
<!--
  Idra - Open Data Federation Platform
   Copyright (C) 2018 Engineering Ingegneria Informatica S.p.A.
   
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  at your option) any later version.
   
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.
   
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<Configuration status="INFO">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p %C{2} (%F:%L) - %m%n" />
		</Console>

<!-- 		<JPA name="jpaAppender" persistenceUnitName="loggingPersistenceUnit" -->
<!--         	 entityClassName="it.eng.idra.beans.JpaLogEntity" /> -->

<!-- 		<JDBC name="databaseAppender" tableName="logs"> -->
<!-- 			<ConnectionFactory class="it.eng.idra.management.DBConnectionManager" -->
<!-- 				method="getDbConnection" /> -->
<!-- 			<Column name="dated" isEventTimestamp="true" /> -->
<!-- 			<Column name="level" pattern="%level" /> -->
<!-- 			<Column name="logger" pattern="%logger" /> -->
<!-- 			<Column name="message" pattern="%message" /> -->
<!-- 		</JDBC> -->

	</Appenders>

	<Loggers>
		<Logger name="org.apache.log4j.xml" level="ERROR" />
		<Logger name="org.hibernate" level="ERROR" />
<!-- 		<Logger name="com.mchange.v2.c3p0" level="ERROR" /> -->
<!-- 		<Logger name="com.mchange" level="ERROR" /> -->
		<Logger name="com.zaxxer.hikari" level="ERROR" /> -->

		<Logger name="log4j.logger.org.hibernate" level="ERROR" />
		<Logger name="org.apache.solr" level="ERROR"></Logger>
		<Logger name="log4j.logger.org.hibernate.SQL" level="ERROR"></Logger>
		<Logger name="log4j.logger.org.hibernate.type" level="ERROR"></Logger>
		<Logger name="log4j.category.org.apache.http.wire" level="FATAL"></Logger>
		<Logger name="it.eng.idra.connectors.webscraper.RangeWorker" level="ERROR"></Logger>
		
		<!-- <Logger name="com.mchange.v2.log.MLog" level="ERROR"> -->
		<!-- <AppenderRef ref="STDOUT" /> -->
		<!-- </Logger> -->
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
<!--  			<appender-ref ref="databaseAppender" /> -->
<!--  			<AppenderRef ref="jpaAppender"/>  -->
		</Root>
	</Loggers>
</Configuration>
